  
<ul id="contenedorLista" class="demo-list-icon mdl-list w-100">
    {{#listaProductos}}
    <li class="mdl-list__item">
         <span class="mdl-list__item-primary-content">
            <!-- Icono producto -->
            <i class="material-icons mdl-list__item-icon">shopping_cart</i>
        </span>
        <!-- nombre producto -->
        <span class="mdl-list__item-primary-content w-30">
            {{nombre}}
        </span>
         <!-- cantidad producto -->
        <span class="mdl-list__item-primary-content w-20">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input onchange="cambiarValor('cantidad', {{id}}, this)" class="mdl-textfield__input" type="text" id="cantidad-{{id}}" value="{{cantidad}}">
                <label class="mdl-textfield__label" for="cantidad-{{id}}">Cantidad</label>
            </div>
        </span>
        <!-- precio producto -->
        <span class="mdl-list__item-primary-content w-20 ml">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <input onchange="cambiarValor('precio', {{id}}, this)" class="mdl-textfield__input" type="text" id="precio-{{id}}" value="{{precio}}">
                <label class="mdl-textfield__label" for="precio-{{id}}">Precio($)</label>
            </div>
        </span>
        <!-- borrar producto -->
        <span class="mdl-list__item-primary-content w-20">
            <button onclick="borrarProd({{id}})" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">remove_shopping_cart</i>
            </button>
        </span>
    </li>
    {{/listaProductos}}
</ul>